<% include ../../partials/header %>

<br>

<div class="container">
    <form action="http://localhost:3000/event/edit/<%= event[0].id %>" method="post" class="form-horizontal">
        <div class="form-group row">
            <label for="title" class="col-2 col-form-label" > Title </label>
            <div class="col-10">
                <input type="text" name="title" id="title" value="<%= event[0].title %>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-2 col-form-label" > Description </label>
            <div class="col-10">
                <textarea name="description" id="description" class="form-control" rows=5><%= event[0].description %></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="location" class="col-2 col-form-label" > Location </label>
            <div class="col-10">
                <input type="text" name="location" id="location" value="<%= event[0].location %>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="start_date" class="col-2 col-form-label" > Start Date </label>
            <div class="col-10">
                <input type="date" name="start_date" id="start_date" value="<%= event[0].start_date %>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="end_date" class="col-2 col-form-label" > End Date </label>
            <div class="col-10">
                <input type="date" name="end_date" id="end_date" value="<%= event[0].end_date %>" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="submit" class="col-2 col-form-label" > </label>
            <div class="col-10">
                <input type="submit" id="submit" value="Save Event" class="btn btn-primary" class="form-control">
            </div>
        </div>
    </form>
</div>

<% include ../../partials/footer %>